@import url('https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

* {
  font-family: "Nunito Sans";
}

html, body {
  margin: 0px;
  height: 100%;
}

body {
  background: #EEE;
}

h1 {
  margin: 10px 0px;

  font-family: "Black Ops One";
  font-size: 54px;

  color: #555;
}

button {
  border: none;
  border-radius: 4px;
  padding: 15px 32px;
  margin: 5px;

  min-width: 100px;

  background: #AAA;
  color: #FFF;
  font-size: 16px;
  text-align: center;
  text-decoration: none;

  cursor: pointer;
  outline: none;
  transition: all 0.05s ease-out;
}

button:hover {
  background: #999;
}

button:active {
  background: #AAA;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.canvas-container {
  position: relative;
  width: 600px;
  height: 600px;

  border: 1px solid #000;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 10px 0px;
  width: 600px;
}

.button-container-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.scroll {
  border: 1px solid #000;

  width: 600px;
  overflow-x: scroll;
}

#main-board {
  z-index: 0;
  background: #FFF;
}

#alpha-board {
  z-index: 1;
  pointer-events: none;
}

#anim-board {
  z-index: 2;
  pointer-events: none;
}

#frames {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;

  padding: 10px 5px;
}

#frames img {
  display: inline-block;
  box-sizing: border-box;

  border: 1px solid #000;
  margin: 0px 5px;

  background: #FFF;
}

#frames .current-frame {
  border: 1px solid #00f;
}
