html, body {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scroll {
  border: 1px solid #000;
  margin: 10px 0px;

  width: 600px;
  overflow-x: scroll;
}

#main-board {
  border: 1px solid #000;
}

#frames {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

#frames img {
  display: inline-block;
  box-sizing: border-box;

  border: 1px solid #000;
  margin: 5px;
}
